.gitmatch {
	background: url('../../img/background.jpg') center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	margin-left: 0;
	margin-right: 0;
}
.profile {
	display: inline;
}
.btn-container {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	background-color: #2f2;
	text-align: center;

	display: flex;
	justify-content: center;
	flex-direction: row;
}
.previous {
	float: left;
	box-sizing: border-box;
	width: 25%;
}
.next {
	float: right;
	box-sizing: border-box;
	width: 25%;
}
.match-percent {
	display: flex;
	justify-content: center;
	flex-direction: column;
	float: center;
	box-sizing: border-box;
	width: 50%;
	margin-left: 10px;
	margin-right: 10px;
}

.avatar {
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

.gitmatch .center {
	margin-top: -20%;
	justify-content: center;
	align-self: center;
	width: 75%;
	text-align: center;
	color: white;
}
input {
	margin-bottom: 10px;
}
.gitmatch-logo {
	margin: 0 auto;
	background-image: url('../../img/gitmatch-logo.png');
	height: 150px;
	width: 150px;
	background-size: cover;
	background-repeat: no-repeat;
}
.gitmatch-sublogo {
	margin: 0 auto;
	background-image: url('../../img/match-page-img-desktop.png');
	height: 50px;
	width: 250px;
	background-size: contain;
	background-repeat: no-repeat;
}
.results {
	height: 100vh;
	width: 100vw;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(
		left,
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1)
	); /*Safari 5.1-6*/
	background: -o-linear-gradient(
		right,
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1)
	); /*Opera 11.1-12*/
	background: -moz-linear-gradient(
		right,
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1)
	); /*Fx 3.6-15*/
	background: linear-gradient(
		to right,
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1)
	);
}

.modal {
	top: 30%;
	z-index: 1000;
	display: block;
	margin: 0 auto;
	background-color: rgba(12, 222, 12, .9);
	padding: 20px;
	height: 25%;
	text-align: center;
	box-sizing: border-box;
}
.error {
	background-color: rgba(222, 12, 12, .9);
	color: white;
}
.loading {
	background-color: rgba(255, 255, 255, 0.8);
}
#overlay {
	position: fixed; /* Sit on top of the page content */
	/* Hidden by default */
	width: 100vw; /* Full width (cover the whole page) */
	height: 100vh; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}
